:root {
  --font: "Indie Flower", cursive;
  --color-body: #b60a99;
  --color-contenedor: #bd421d;
  --color-border: #850905;
  --color-letra: #f0ddaa;
  --color-shadow: #18171700;
  --color-back:#f2c1ac;
}
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
} 

body {
  min-width: 375px;
  max-width: 768px;
  min-height: 100vh;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--color-letra);
  background-color: var(--color-body);
  margin: auto;
}


.main {
  max-width: 700px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-contenedor);
  padding: 5px;
  border: 5px double var(--color-border);
  border-radius: 5px;
  text-align: center;
  margin: auto;
}

header, .personal-data {
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  h1 {
    font-size: 2rem;
  }
  h4 {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }
  p {
    font-weight: 600;
  }
  
}

form {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.personal-data label {
  text-align: start;
  font-size: 1rem;
  margin-bottom: 5px;
}

.personal-data input {
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 5px;
  font-size: 0.9rem;
  background-color: var(--color-back);
  color: #850905;
  margin-bottom: 8px;
  
}

.personal-data input::placeholder {
  color:rgb(95, 94, 94);
  font-family: var(--font);
}

.container-2{
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.use-to {
  font-size: 1rem;
  margin-right: 30px;
  display: inline-block;
}

  /* RADIOS */
.container-2 input {
  display: none;
}

.container-2 label:hover {
  cursor: pointer;
}

.container-2 label {
  background: url("./assets/radio_unchecked.png") no-repeat left center;
  padding: 20px;
  font-size: 0.9rem;
  background-size: 20px;
}

.container-2 input:checked+label {
  background-image: url("./assets/radio_checked.png");
}

.container-3 {
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  margin-bottom: 2rem;
}

#dropdown {
  font-family: var(--font);
  font-weight: 600;
  letter-spacing: 4px;
  color: var(--color-letra);
  background-color: var(--color-letter);
  font-size: 0.8rem;
  outline: none;
  border-radius: 5px;
  margin-left: 1.3rem;
  
}
#dropdown option {
  color: var(--color-body);
  font-size: 0.8rem;
  font-weight: 600;
}

.container-4 {
  width: 90%;
  margin-bottom: 1rem;
}

.description {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

/*borro los checkbox*/
.box-food input,
.box-recipes input {
  display: none;
}

/*hover pointer al label de checkbox-comida-tipo y recetas*/
.box-food label:hover,
.box-recetas label:hover {
  cursor: pointer;
}

.box-food,
.box-recipes {
  height: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  
  label {
    font-size: 0.9rem;
    margin: 0.8rem;
  }
}

  .box-food span,
  .box-recipes span {
    color: var(--color-letter);
    font-size: 0.95rem;
  }

  /*aplico filtro sepia img not checked*/
  .box-food input:checked+label span,
  .box-recipes input:checked+label span {
    background-color: var(--color-body);
    border-radius: 50%;
  }

  /*borro los checkbox*/
  .box-food input,
  .box-recipes input {
    display: none;
  }

  /*hover pointer al label de checkbox-comida-tipo y recetas*/
  .box-food label:hover,
  .box-recipes label:hover {
    cursor: pointer;
  }

  .box-food,
  .box-recipes {
    padding-top: 15px;
    height: 50px;
    display: flex;
    justify-content: center;

    & label {
      margin: 10px;
    }
  }

  .box-food span,
  .box-recipes span {
    color: var(--color-letter);
  }

  /*aplico filtro sepia img not checked*/
  .box-food input:checked+label span,
  .box-recipes input:checked+label span {
    background-color: var(--color-body);
    border-radius: 50%;
  }

  .container-5 {
    width: 90%;
  }

  .container-6 {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  #suggestion {
    margin: 1rem;
    background-color: var(--color-back);
    border-style: solid;
    border-radius: 5px;
    border-color: var(--color-letra);
    outline: none;
    color:rgb(95, 94, 94);
    font-family: var(--font);
    letter-spacing: 2px;
    font-size: 0.9rem;
  }

  #suggestion:focus {
    border: 2px solid var(--color-letra);
    outline: none;
    font-weight: 500;
    color:rgb(95, 94, 94);
    font-family: var(--font);
    font-size: 0.9rem;
  }

  [type="submit"] {
    border-radius: 5px;
    width: 150px;
    height: 40px;
    background-color: var(--color-letter);
    border: 1px solid var(--color-letra);
    font-family: var(--font);
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color-letra);
    margin-top: 2rem;
  }

  & [type="submit"]:focus {
    border: 2px solid var(--color-letra);
  }





























